body{
    background-color:lightskyblue;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align : center;
    background : lightblue;
    color: tomato;
    display : fixed;
    margin-bottom : 20px;
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    width: 300px;
    margin-left: 300px;
    margin-top: 150px;
    color: tan;
    background: radial-gradient(black, transparent);
}

.flex{
    display : flex;
    justify-content: space-evenly;
    overflow-x: auto;
}

b{
    font-family:'Alegreya', serif;
    font-size: 30px;
    color : white;
}
.image{
    background : url("https://wallpapercave.com/wp/wp2939990.jpg");
    background-attachment: scroll;
    background-size : cover;
    background-repeat : no-repeat;
    height : 100%;
    width : 100%;
    border : 1px solid gray;
    padding-bottom : 165px;
}

#design{
    margin-left: 100px;
    padding-top: 20px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-bottom: 140px;
    background: linear-gradient(45deg, black, transparent);
}

form{
    background: url("https://www.elsetge.cat/myimg/f/37-370605_ten-advantages-of-wallpaper-soothing-for-eyes-and.jpg");
    background-position: initial;
    background-attachment: scroll;
    background-size : cover;
    background-repeat : no-repeat;
    border : 1px solid gray;
    padding-top : 30px;
}

button{
    background: royalblue;
    color : white;
    padding : 5px 10px;
}

h4{
    color : white;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom : 0px;
    font-family:'Alegreya', serif;;
}

button:hover{
    background : turquoise;
}